{% extends 'base.html' %}


{% block content %}

<!-- heading  -->

<div class="container">
    <div class="row align-items-start">
      <div class="col text-center">
        <h1 class="display-4"><strong>Try On</strong></h1>
        <p class="lead">Click try on button to try</p>
      </div>
    </div>
  </div>




<div id="products" class="col-lg-9 mx-auto">
    <div class="row mx-auto">
        {% for tryproduct in trialProds %}
        <div class="card mx-auto mb-3" id={{tryproduct.id}} style="width: 18rem;">
            <img class="card-img-top" src="{{tryproduct.image.url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{tryproduct.name}}</h5>
                <p class="card-text">₹ {{tryproduct.price}}</p>
            </div>

            <div class="card-footer p-0 no-gutters">
                <div class="row no-gutters">
                    <div class="text-center col">
                        <form method="POST" class="btn-block">
                            {% csrf_token %}
                            <input type="text" name="product" hidden value="{{tryproduct.id}}">
                            <input href="#" class="btn float-right border btn-light form-control" type="submit" value="Try On">
                        </form>
                    </div>

                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}